# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Vagrant
provision/.vagrant/

# Front end
node_modules
public/dist/**
public/src/js/config.js
public/src/js/config.json
npm-debug.log
bower_components
.sass-cache
